@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: $color-text;
    background: #fff;
}

hr {
    border-top: 1px solid $color-border;
    opacity: 1;
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}